<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verify</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="centerx">
    <img style="width: 156px; margin-top: 39px;
    height: 133px;" src="assets/icons/mail.svg" alt="">
      <h1 style="text-align: center;
      font: normal normal bold 24px/28px Worksans;
      letter-spacing: 0px;
      color: #393F45;
      opacity: 1;">Check your mail</h1>
  <div style="width: 318px; text-align: center;
  height: 55px;">
  <p>We have sent a password recover Instructions to your email.</p>
  </div>
 
  </div>

  <section class="ion-padding">
      
    <ion-button  [routerLink]="['/new-password']" color="primary" size="large" fill="solid" expand="block">Open email app</ion-button>
  </section>
   
  <ion-item lines="none" style="margin-top: 190px;" class="ion-padding">
    <div style="margin-top: 40px; text-align: center">
      <p>Did not receive the email? Check your Spam filter, <span style="
        letter-spacing: 0px;
        color: #FF7600;">Resend email</span> </p>
     
    </div>
  </ion-item>
 
  </ion-content>
  