<ion-header no-border>
  <ion-toolbar>
    <ion-title>Activity</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card class="top-box ion-no-padding ion-no-margin" no-border>
  </ion-card> -->

  <div class="ion-padding">
    <h3 style="text-align: left;
      font: normal normal normal 15px/23px Poppins;
      letter-spacing: 0.42px;
      color: #5A5A5A;
      opacity: 1;">
     Mobile transfer
      </h3>
    
      </div>

  <!-- <ion-card
    class="top-box-2 pd-20"
    text-center
    [color]="data.type=='CREDIT'? 'success' : data.type == 'DEBIT'?'danger':'tertiary'"
  >
    <ion-card-header>
      <ion-text>{{ data.type }}</ion-text>
      <ion-card-title class="fs-30"
        >{{data.type=='REWARD'? abs(data.amount) + ' Zit' : '&#8358;'+
        abs(data.amount)}}</ion-card-title
      >
    </ion-card-header>
  </ion-card> -->

  <ion-card>

  <ion-list>

    <ion-item lines="none">
      <ion-label slot="end">
        <h2 style="letter-spacing: 1.17px;
        color: #83828A;
        font:Poppins;
        opacity: 1;">{{data.created_at | date}}</h2>
      </ion-label>
    </ion-item>
   
    <ion-item lines="none">
      <div class="description">
        <p>Description</p>
        <p style="font: normal normal medium 14px/21px Poppins;
        letter-spacing: 0.39px;
        color: #000000;
        opacity: 1;">{{data.description}}</p>
      </div>
      <ion-label>
        <h2
          class="fs-12"
          *ngIf="data.type=='withdraw' && data.meta.withdraw!==null"
        >
          {{data.meta.withdraw}}
        </h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <p>Narration</p>
        <h2 class="fs-14">{{data.type}}</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Amount</p>
        <h2 class="fs-14">{{data.type=='REWARD'? abs(data.amount) + ' Zit' : '&#8358;'+
          abs(data.amount)}}</h2>
      </ion-label>
    </ion-item>
    
    <!-- <div style="text-align: center;">
      <ion-fab>
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div> -->
  </ion-list>
  
</ion-card>
<div id="outer">
  <div id="inner">
    <ion-fab-button 
    style="margin-top: -45px;"
    text-center
    fill="solid"
    color="primary"
    (click)="dismissModal()"
  >
    Close
  </ion-fab-button>
  </div>
</div>

</ion-content>
