<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195312578519-0vn4i3vp50iijuk7g7d0nuf9aerbo8dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195312578519-0vn4i3vp50iijuk7g7d0nuf9aerbo8dd</string>
	<key>API_KEY</key>
	<string>AIzaSyBpp_679fMoPzoSkB5xYA-2dIyN8-LLhXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>195312578519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.euzzit.ios</string>
	<key>PROJECT_ID</key>
	<string>euzzit-inapp</string>
	<key>STORAGE_BUCKET</key>
	<string>euzzit-inapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195312578519:ios:fb2909f5c39fddd4db6592</string>
	<key>DATABASE_URL</key>
	<string>https://euzzit-inapp-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>NSFaceIDUsageDescription</key>
    <string>For easy authentication</string>
</dict>
</plist>