<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" style="color: aliceblue;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Merchant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item lines="none">    <ion-text> <p>Pay for your favorite products</p> </ion-text>
    </ion-item>

  
      <ion-searchbar color="light" style="
      border-radius: 20px;
      opacity: 1;"></ion-searchbar>
   
  </ion-list>
  <ion-list>
    <ion-item lines="none"><p>Merchants</p></ion-item>
    <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">

      <ion-label>
        <h2>Abel computers</h2>
        <h3>Computer sales</h3>
      </ion-label>
      <ion-note slot="end" color="tertiary">
        ID-14357387</ion-note>
    </ion-item>
  </ion-card>
    <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">

      <ion-label>
        <h2>Food house</h2>
        <h3>Groceries</h3>
      </ion-label>
      <ion-note slot="end" color="tertiary">
        ID-14357387</ion-note>
    </ion-item>
  </ion-card>
    <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">

      <ion-label>
        <h2>Market square</h2>
        <h3>Groceres</h3>
      </ion-label>
      <ion-note slot="end" color="tertiary">
        ID-14357387</ion-note>
    </ion-item>
  </ion-card>
    <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">

      <ion-label>
        <h2>Computer homes</h2>
        <h3>ID-14357387</h3>
      </ion-label>
      <ion-note slot="end" color="tertiary">
        ID-14357387</ion-note>
    </ion-item>
  </ion-card>
    <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">

      <ion-label>
        <h2>Phone hub</h2>
        <h3>Sales of phones</h3>
      </ion-label>
      <ion-note slot="end" color="tertiary">
        ID-14357387</ion-note>
    </ion-item>
  </ion-card>
  </ion-list>
  
</ion-content>
