<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" style="color: aliceblue;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-primary">Merchant Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 


  <ion-item color='primary' class="ion-padding">
    <ion-label>
      <h2 style="text-align: left;
      font: normal normal medium 16px/19px Worksans;
      letter-spacing: 1px;
      color: #FFFFFF;
      opacity: 1;">Ballance</h2>
      <h1 style="text-align: left;
      font: normal normal 800 36px/42px Worksans;
      letter-spacing: 2.25px;
      color: #FFFFFF;
      opacity: 1;">748,000</h1>
    </ion-label>

    <h3 style="margin-top: 50%; text-align: right;
    letter-spacing: 0.78px;
    color: #FFFFFF;
    opacity: 1;">ID-14357387</h3>

    </ion-item>

    <ion-list>
      <ion-item lines="none">    <ion-text> <p>Transactions</p> </ion-text>

        <ion-note slot="end" color="tertiary">
          <ion-icon name="search-outline"></ion-icon></ion-note>
      </ion-item>
     
    </ion-list>
    <ion-list>
      <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 20px;
      ">
      <ion-item lines="none">
  
        <ion-label>
          <h2>20,000</h2>
          <h3>Payment received</h3>
        </ion-label>
        <ion-note slot="end" color="tertiary">
          ID-14357387</ion-note>
      </ion-item>
    </ion-card>
      <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 20px;
      ">
      <ion-item lines="none">
  
        <ion-label>
          <h2>13,500</h2>
          <h3>Payment received</h3>        </ion-label>
        <ion-note slot="end" color="tertiary">
          ID-14357387</ion-note>
      </ion-item>
    </ion-card>
      <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 20px;
      ">
      <ion-item lines="none">
  
        <ion-label>
          <h2>5,000</h2>
          <h3>Payment received</h3>        </ion-label>
        <ion-note slot="end" color="tertiary">
          ID-14357387</ion-note>
      </ion-item>
    </ion-card>
      <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 20px;
      ">
      <ion-item lines="none">
  
        <ion-label>
          <h2>50,000</h2>
          <h3>Payment received</h3>        </ion-label>
        <ion-note slot="end" color="tertiary">
          ID-14357387</ion-note>
      </ion-item>
    </ion-card>
     
    </ion-list>

</ion-content>
