<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Monthly pension Allowance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div style="width: 100%;" class="bg">
  <!-- <ion-item style="--border-radius: 16px;" color='primary' class="ion-padding">
    <ion-label class="ion-text-wrap">
     
      <small style="
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 1;">You’re qualified to access free pension plan Known as eUzzit monthly allowance for 20 years Based on the number of Zit you’ve accumulated.</small>
    </ion-label>
    </ion-item> -->

    <ion-label class="ion-padding" position="stacked">View below Zit target and monthly payment</ion-label>
 </div>


 <div class="parentx">
<div>
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">
    
    <ion-label><h3>100,000,000 Zit</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
<div>
  <ion-card style="--background: #673BB8 0% 0% no-repeat padding-box;
  width: 120%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item color="primary" lines="none">
    
    <ion-label><h3>N10,000</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
</div>
 <div class="parent">
<div>
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">
    
    <ion-label><h3>300,000,000 Zit</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
<div>
  <ion-card style="--background: #673BB8 0% 0% no-repeat padding-box;
  width: 120%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item color="primary" lines="none">
    
    <ion-label><h3>N30,000</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
</div>
 <div class="parent">
<div>
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">
    
    <ion-label><h3>500,000,000 Zit</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
<div>
  <ion-card style="--background: #673BB8 0% 0% no-repeat padding-box;
  width: 120%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item color="primary" lines="none">
    
    <ion-label><h3>N50,000</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
</div>
 <div class="parent">
<div>
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">
    
    <ion-label><h3>700,000,000 Zit</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
<div>
  <ion-card style="--background: #673BB8 0% 0% no-repeat padding-box;
  width: 120%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item color="primary" lines="none">
    
    <ion-label><h3>N70,000</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
</div>
 <div class="parent">
<div>
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">
    
    <ion-label><h3>900,000,000 Zit</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
<div>
  <ion-card style="--background: #673BB8 0% 0% no-repeat padding-box;
  width: 120%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item color="primary" lines="none">
    
    <ion-label><h3>N90,000</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
</div>
 <div class="parent">
<div>
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">
    
    <ion-label><h3>100,000,000,000 Zit</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
<div>
  <ion-card style="--background: #673BB8 0% 0% no-repeat padding-box;
  width: 120%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item color="primary" lines="none">
    
    <ion-label><h3>N100,000</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
</div>
 <div class="parent">
<div>
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">
    
    <ion-label><h3>200,000,000,000 Zit</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
<div>
  <ion-card style="--background: #673BB8 0% 0% no-repeat padding-box;
  width: 120%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item color="primary" lines="none">
    
    <ion-label><h3>200,000</h3>
      
          </ion-label>
  </ion-item>
</ion-card>
</div>
</div>
<ion-toolbar>
  <section class="ion-padding">
    
    <ion-button (click)="accessLoan()" color="primary" size="large" fill="solid" expand="block"> <ion-label *ngIf="buyingzit">Buying Zit</ion-label> <ion-label *ngIf="!buyingzit">Apply for pension</ion-label></ion-button>
  </section>
</ion-toolbar>
</ion-content>





 
