<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Loan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="text-align: center;">  <ion-row>
  <ion-col>
    <div>
      <ion-button style="width: 100%;" (click)="viewLoan()" color="light"> 
View Loan
    </ion-button></div>
  </ion-col>

  <ion-col>
    <div><ion-button style="width: 100%;" (click)="hisroryLoan()" color="light"> 
      History
    </ion-button></div>
  </ion-col>
</ion-row></ion-grid>
  <ion-label style="font: normal normal medium 9px/13px Poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">Classic account loan limit</ion-label>
  <ion-item style="--ion-background-color:#E0D9EC;" class="ion-padding item">
    <ion-label style="text-align: center;
    font: normal normal bold 26px/39px Poppins;
    letter-spacing: 1.44px;
    color: #673BB8;">
       &#8358;1,000 - &#8358;25,000</ion-label>
      
  </ion-item>
   
  <ion-label style="margin-top: -10px;" color="primary" class="ion-padding" position="stacked">Premium account loan limit</ion-label>
  <ion-item class="ion-padding">
    <ion-label class="ion-text-wrap" style="text-align: center;
    font: normal normal bold 16px/29px poppins;
    letter-spacing: 1.44px;
    color: #673BB8;">&#8358;4,000 - &#8358;10,000,000</ion-label>
  </ion-item>

  <section class="ion-padding">
    
    <ion-button [disabled]="isloan" (click)="accessLoan()" color="primary" size="large" fill="solid" expand="block"> <ion-label>Access loan</ion-label></ion-button>
  </section>
  
</ion-content>




 
