<ion-content>

  <ion-item class="ion-padding">
    <div class="center">
      <h2 style="text-align: center;
      font: normal normal bold 24px/28px Worksans;
      letter-spacing: 0px;
      color: #393F45;
      opacity: 1;">Create new password.</h2>
      <p style="text-align: center;
      font: normal normal normal 14px/18px Worksans;
      letter-spacing: 0px;
      color: #4A4A4A;
      opacity: 1;">Your new password must be different from your previous password.</p>
    </div>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input
    
    placeholder="Password" style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="lock-closed-outline"></ion-icon>
      
    </ion-input>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input
    placeholder="Password" style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="lock-closed-outline"></ion-icon>
    </ion-input>
  </ion-item>
    <section class="ion-padding">
      <ion-button  [routerLink]="['/login']" color="primary" size="large" fill="solid" expand="block">Reset password</ion-button>
    </section>
</ion-content>
