<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <p style="text-align: center;">Create Merchant Profile</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label style="font:poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">Organization Name</ion-label>
  <ion-item class="ion-padding">
    <ion-input style="font: poppins;"></ion-input>
      
  </ion-item>
  <ion-label style="font:poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">Is your Organization registered? (C.A.C)?</ion-label>
  <ion-item class="ion-padding">
    <ion-input style="font: poppins;"></ion-input>
      
  </ion-item>
  <ion-label style="font:poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">CAC Registration Number</ion-label>
  <ion-item class="ion-padding">
    <ion-input style="font: poppins;"></ion-input>
      
  </ion-item>
  <ion-label style="font:poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">Address</ion-label>
  <ion-item class="ion-padding">
    <ion-textarea style="font: poppins;"></ion-textarea>
      
  </ion-item>
  <ion-label style="font:poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">Select State</ion-label>
  <ion-item class="ion-padding">
    <ion-select style="font: poppins;"></ion-select>
      
  </ion-item>
  <ion-label style="font:poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">Email</ion-label>
  <ion-item class="ion-padding">
    <ion-input style="font: poppins;"></ion-input>
      
  </ion-item>
  <ion-label style="font:poppins;
  letter-spacing: 0.5px;
  color: #6A6A6A;
  opacity: 1;" color="primary" class="ion-padding" position="stacked">Phone Number</ion-label>
  <ion-item class="ion-padding">
    <ion-input style="font: poppins;"></ion-input>
      
  </ion-item>

  <ion-button expand="block" color="primary">Save Merchant Profile</ion-button>

</ion-content>
