<ion-content>

  <ion-item class="ion-padding">
    <div class="center">
      <h2 style="font: normal normal bold 24px/28px Worksans;
      letter-spacing: 0px;
      color: #393F45;
      opacity: 1;">Reset Password.</h2>
      <p style="text-align: center;
      font: normal normal normal 14px/18px Worksans;
      letter-spacing: 0px;
      color: #4A4A4A;
      opacity: 1;">Enter the email associated with your Account, we’ll send an email with instructions to reset your account.</p>
    </div>
  </ion-item>
    <ion-item color='medium' class="ion-padding">
      <ion-input style="text-align: left;
      font: normal normal normal 16px/18px Worksans;
      letter-spacing: 0px;
      color: #000000;" placeholder="Email"></ion-input>
    </ion-item>
    <div class="centerx">
      <p [routerLink]="['/login']">back to login</p>
    </div>
 
    <section class="ion-padding">
      
      <ion-button [routerLink]="['/check-mail']" color="primary" size="large" fill="solid" expand="block">Send</ion-button>
    </section>
</ion-content>
