<!-- <ion-content>

  <ion-item class="ion-padding">
    <div class="center">
      <h2 style="font: normal normal bold 24px/28px Worksans;
      letter-spacing: 0px;
      color: #393F45;
      opacity: 1;">Reset Password.</h2>
      <p style="text-align: center;
      font: normal normal normal 14px/18px Worksans;
      letter-spacing: 0px;
      color: #4A4A4A;
      opacity: 1;">Enter the email associated with your Account, we’ll send an email with instructions to reset your account.</p>
    </div>
  </ion-item>
    <ion-item color='medium' class="ion-padding">
      <ion-input style="text-align: left;
      font: normal normal normal 16px/18px Worksans;
      letter-spacing: 0px;
      color: #000000;" placeholder="Email"></ion-input>
    </ion-item>
    <div class="centerx">
      <p [routerLink]="['/login']">back to login</p>
    </div>
 
    <section class="ion-padding">
      
      <ion-button [routerLink]="['/check-mail']" color="primary" size="large" fill="solid" expand="block">Send</ion-button>
    </section>
</ion-content> -->

<div class="wrap-login-v9 offset-top-obj">
  <div class="wrap-interval">
    <div class="brand">
      <img class="parallax-obj parallax-down-obj" src="assets/icons/unnamed-3.png" />
      <br />
      <br />
    </div>
    <div class="main-form" *ngIf="showForgot">
      <form class="" [formGroup]="forgotForm" (submit)="sendCode()" novalidate>
        <div class="center">
          <h5 text-center>Forgot your password ?</h5>
        </div>
       
        <br />

        <!-- <div class="pd15 fs-13 text-danger"> <i class="fa fa-info-o"></i> Kindly enter the email used in setting
          up your eUzzit account to retrieve your password</div> -->

        <ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
          <ion-label position="floating"
            >Email <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input
            formControlName="email"
            class="fs-13"
            type="email"
            [class.invalid]="!forgotForm.controls.email.valid && forgotForm.controls.email.dirty"
          ></ion-input>
        </ion-item>
        <div
          class="txt-danger"
          *ngIf="!forgotForm.controls.email.valid  && checkerror"
        >
          Please enter a valid email address.
        </div>

        <div text-right>
          <ion-button
            mode="ios"
            size="small"
            fill="clear"
            (click)="gotoLogin()"
            class="txt3"
            type="button"
          >
            Go back to Login
          </ion-button>
        </div>

        <ion-button
          mode="ios"
          expand="block"
          color="primary"
          class="txt1 mgt-10 spacing2 fw-600"
          type="submit"
        >
          <ion-spinner name="crescent" *ngIf="submitted"></ion-spinner>
          <ion-label *ngIf="submitted">Please Wait!</ion-label>
          <ion-label *ngIf="!submitted"> Send Reset Code </ion-label>
        </ion-button>

        <hr />

        <!-- <p text-center class="fs-12 txt3">Have a code <ion-button mode="ios" fill="clear" (click)="showpasswordChangeForm()" size="small" class="mgt--10">Validate Reset Code</ion-button></p> -->
      </form>
    </div>

    <div class="main-form" *ngIf="passwordshow">
      <form
        class=""
        [formGroup]="passwordChangeForm"
        (submit)="resetPassword()"
        novalidate
      >
        <ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
          <ion-input
            formControlName="token"
            class="fs-13"
            type="text"
            placeholder="Reset Code"
            [class.invalid]="!passwordChangeForm.controls.token.valid && passwordChangeForm.controls.token.dirty"
          ></ion-input>
        </ion-item>
        <div
          class="txt-danger"
          *ngIf="!passwordChangeForm.controls.token.valid  && checkerror"
        >
          Please enter a valid reset code.
        </div>

        <h4 text-center>Create New Password</h4>
        <!-- <div class="pd-25 txt-info"> <i class="ion-alert-circled"></i> Kindly create a new password for wallet ID
          <strong>{{phone}}</strong>!
        </div> -->

        <ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
          <ion-input
            formControlName="password"
            minlength="6"
            class="fs-13"
            type="text"
            placeholder="Enter Password"
            [class.invalid]="!passwordChangeForm.controls.password.valid && passwordChangeForm.controls.password.dirty"
          ></ion-input>
        </ion-item>
        <div
          class="txt-danger"
          *ngIf="!passwordChangeForm.controls.password.valid  && checkerror"
        >
          Please enter your password.
        </div>
        <br />
        <ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
          <ion-input
            formControlName="password_confirmation"
            class="fs-13"
            type="text"
            placeholder="Confirm Password"
            [class.invalid]="!passwordChangeForm.controls.password_confirmation.valid && passwordChangeForm.controls.password_confirmation.dirty"
          ></ion-input>
        </ion-item>
        <div
          class="txt-danger"
          *ngIf="checkerror && !passwordChangeForm.controls.password_confirmation.valid"
        >
          Please confirm your password.
        </div>

        <ion-button
          mode="ios"
          expand="block"
          color="primary"
          class="txt1 mgt-10 spacing2 fw-100"
          type="submit"
        >
          <i class="fa fa-lock"></i> Change Password
        </ion-button>

        <hr />
      </form>
    </div>

    <div class="main-form" *ngIf="successpage">
      <h4 text-center>Password Changed Successfully</h4>

      <ion-item
        lines="none"
        class="bdra-10 bg-white shadow-1 bg-light pd-20 txt-success"
      >
        <i class="fa fa-check-circle fs-50"></i>
        Your password was changed successfully!
      </ion-item>

      <div text-center>
        <ion-button
          mode="ios"
          size="small"
          fill="clear"
          (click)="gotoLogin()"
          class="txt3"
          type="button"
        >
          Go to Login
        </ion-button>
      </div>
    </div>

    <div class="decor">
      <div class="main-decor">
        <img src="assets/images/lemon_only_w.png" />
      </div>
      <div class="drop-decor">
        <div class="leaf1 bg-base"></div>
        <div class="leaf2 bg-base"></div>
        <div class="leaf3 bg-base"></div>
      </div>
    </div>
  </div>
</div>


