// .wrapper {
//     width: 100%;
//     // height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
    
//     .cc {
//       position: relative;
//       font-family: 'Maven Pro', sans-serif;
//       font-size: 16px;
//       color: white;
//       width: 90%;
//       height: 174px;
//       border-radius: 16px;
      
//       &.visa {
//         background: #673BB8 0% 0% no-repeat padding-box;
//       }
      
//       &:after {
//         content: '';
//         position: absolute;
//         width: 368px;
//         height: 196px;
//         border-radius: 20px;
//         background: #673BB8 0% 0% no-repeat padding-box;
//         opacity: 1%;
//       }
     
//       svg {
//         position: absolute;
//         top: 80px;
        
//         path {
//           fill: transparent;
//           stroke: #FFFFFF;
//           stroke-width: 2px;
//           stroke-linecap: round;
//         }
//       }
      
//       .container {
//         position: absolute;
//         top: 25px;
//         left: 25px;
//         right: 25px;
//         display: flex;
//         // align-items: center;
//         justify-content: space-between;
//       }

//       .type{
//           background-color: #FFFFFF;
//           border-radius: 8px;
//       }
  
//       .holder {
//         position: absolute;
//         // top: 11px;
//         bottom: 10px;
//         left: 25px;
        
//         span {
//           display: block;
          
//           &.name {
//             text-align: left;
// font: normal normal 600 16px/19px Montserrat;
// letter-spacing: 1.14px;
// color: #FFFFFF;
// opacity: 1;
//           }
          
//           &.number {
//             font-weight: 500;
//           }
//         }
//       }
//     }
//   }

//   ion-item{
//     --highlight-background: none;
//     --inner-border-width: 0;
    
//     // --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
//     // --border-color: #FF38AD;
//     --border-radius: 10px;
//     --min-height: 40px !important;
// }


// .center {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 50%;
//   }

//   .centerx {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }



@keyframes init-ani {
  0% {opacity: 1; transform: translateY(-100vh) translateX(-10vw) translateY(-100vh)}
  100% {opacity: 0.5; transform: translateY(100vh) translateX(10vw) rotate(-45deg)}
}

.wrap-login-v9{
width: 100%;
height: 100%;
overflow: hidden;
  position: absolute;
  h2{
      font-family: 'Nanum Gothic';
}
.brand{
  img{
         height: 160px;
      margin-bottom: -50px;
    margin-left: 20%;
  }
}
.wrap-interval{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  .main-form{
    position: relative;
          z-index: 100;
          padding:13px;
          ion-input{
              font-family: 'Quicksand';
              font-size: 20px;
          }

          .pd15{
              padding:15px;
          }
  }
}
.decor{
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .main-decor{
    width: 150vw;
      opacity: 0.1;
    img{
      width: 100%;
    }
  }
  .leaf1{
    position: absolute;
      top: 30%;
      height: 20px;
      left: 15%;
      width: 30px;
      border-radius: 0px 50%;
      transform: rotate(95deg);
      animation-name: init-ani;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .leaf2{
    position: absolute;
      top: 10%;
      height: 30px;
      left: 60%;
      width: 35px;
      border-radius: 0px 50%;
      transform: rotate(15deg);
      animation-name: init-ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .leaf3{
    position: absolute;
      top: 70%;
      height: 90px;
      right: 10%;
      width: 50px;
      border-radius: 0px 50%;
      transform: rotate(75deg);
      animation-name: init-ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


