<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="assets/icons/coins.svg"></ion-icon>
      <ion-label>Zit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
