<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <div class="center">
    <h1 style="font: normal normal bold 28px/30px Worksans;
    letter-spacing: 0px;
    color: #393F45;
    opacity: 1;">Signup</h1>
  </div> -->

  <ion-item color='medium' class="ion-padding">
    <ion-input style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" placeholder="Business Name">
      <ion-icon style="margin-right: 10px; font-size: 20px;" src="assets/icons/profile.svg"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" placeholder="Phone">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="call-outline"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" placeholder="Username">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="at-outline"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" placeholder="Email">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="mail-outline"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" placeholder="Password">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="lock-closed-outline"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" placeholder="Confirm Password">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="lock-closed-outline"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item color='medium' class="ion-padding">
    <ion-input style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" placeholder="Invite code (optional)">
      <ion-icon style="margin-right: 10px; font-size: 20px;" name="qr-code-outline"></ion-icon>
    </ion-input>
  </ion-item>
  <!-- <div class="centerx">
    <p>Forgot Account? / Reset</p>
  </div> -->

  <div class="centerx">
    <p style="font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;">By proceeding you agree to our terms & conditions. </p>
  </div>

  <section class="ion-padding">
      
    <ion-button color="primary" size="large" fill="solid" expand="block">Register</ion-button>
  </section>

  


</ion-content>
