<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bill Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card [routerLink]="['/airtime']" style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img style="width: 36px;
        height: 44px; object-fit: contain;" src="assets/icons/bill.png" />
            </ion-thumbnail>
      <ion-label>
        <h2 style="font-weight: bold;">Airtime</h2>
             
             
            </ion-label>
    </ion-item>
  </ion-card>
    <ion-card  [routerLink]="['/select-biller']" style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img style="width: 36px;
        height: 44px; object-fit: contain;" src="assets/icons/satellite-dish.png" />
      </ion-thumbnail>
      <ion-label>
        <h2 style="font-weight: bold;">Cable tv</h2>
             
            </ion-label>
    </ion-item>
  </ion-card>
    <ion-card [routerLink]="['/electricity']" style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img style="width: 36px;
        height: 44px; object-fit: contain;" src="../../../assets/icons/lightbulb.png" />
      </ion-thumbnail>
      <ion-label>
        <h2 style="font-weight: bold;">Electricity</h2>
             
            </ion-label>
    </ion-item>
  </ion-card>
    <ion-card [routerLink]="['/education']" style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img style="width: 36px;
        height: 44px; object-fit: contain;" src="../../../assets/icons/graduation.png" />
      </ion-thumbnail>
      <ion-label>
        <h2 style="font-weight: bold;">Education</h2>
         
            </ion-label>
    </ion-item>
  </ion-card>
    <ion-card [routerLink]="['/internet']" style="background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    ">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img style="width: 36px;
        height: 44px; object-fit: contain;" src="../../../assets/icons/internet.png" />
      </ion-thumbnail>
      <ion-label>
        <h2 style="font-weight: bold;">Internet</h2>
             
            </ion-label>
    </ion-item>
  </ion-card>
   
  </ion-list>
  
</ion-content>
