<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="/waec"  color='medium' class="ion-padding">
    <ion-thumbnail slot="start">
      <img style="border-radius: 9px; width: 43px; margin-top: 10px; object-fit: cover;
      height: 37px;" src="assets/exam/waec.svg" />
    </ion-thumbnail>
    <ion-label style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;">WAEC Card</ion-label>
  </ion-item>
  <ion-item routerLink="/jamb"  color='medium' class="ion-padding">
    <ion-thumbnail slot="start">
      <img style="border-radius: 9px; width: 43px; margin-top: 10px; object-fit: cover;
      height: 37px;" src="assets/exam/jamb-new.svg" />
    </ion-thumbnail>
    <ion-label style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;">JAMB Form</ion-label>
  </ion-item>

</ion-content>
