.wrapper {
    width: 100%;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .cc {
      position: relative;
      font-family: 'Maven Pro', sans-serif;
      font-size: 16px;
      color: white;
      width: 90%;
      height: 174px;
      border-radius: 16px;
      
      &.visa {
        background: #673BB8 0% 0% no-repeat padding-box;
      }
      
      &:after {
        content: '';
        position: absolute;
        width: 368px;
        height: 196px;
        border-radius: 20px;
        background: #673BB8 0% 0% no-repeat padding-box;
        opacity: 1%;
      }
     
      svg {
        position: absolute;
        top: 80px;
        
        path {
          fill: transparent;
          stroke: #FFFFFF;
          stroke-width: 2px;
          stroke-linecap: round;
        }
      }
      
      .container {
        position: absolute;
        top: 25px;
        left: 25px;
        right: 25px;
        display: flex;
        // align-items: center;
        justify-content: space-between;
      }

      .type{
          background-color: #FFFFFF;
          border-radius: 8px;
      }
  
      .holder {
        position: absolute;
        // top: 11px;
        bottom: 10px;
        left: 25px;
        
        span {
          display: block;
          
          &.name {
            text-align: left;
font: normal normal 600 16px/19px Montserrat;
letter-spacing: 1.14px;
color: #FFFFFF;
opacity: 1;
          }
          
          &.number {
            font-weight: 500;
          }
        }
      }
    }
  }

  ion-item{
    --highlight-background: none;
    --inner-border-width: 0;
    
    // --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
    // --border-color: #FF38AD;
    --border-radius: 10px;
    --min-height: 40px !important;
}



