<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" style="color: aliceblue;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pay Merchant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <ion-card  class="cc visa">
    
      <div class="container">
        <div class="type">
          <ion-img style="width: 58px;
          height: 68px; padding: 5px;" src="assets/icons/fidelity.png"></ion-img> 
        </div>
        <div class="circuit">
        <p>E CARD</p>
        </div>
      </div>
    
      <div style="margin-top: 11px;" class="holder">
        <span style="text-align: left;
        font: normal normal 900 33px/40px monte;
        letter-spacing: 1.5px;
        color: #FFFFFF;
        opacity: 1;" class="number">4550000139</span>
        <span style="text-align: left;
        font: normal normal 600 16px/19px montserrat;
        letter-spacing: 1.14px;
        color: #FFFFFF;
        opacity: 1;" class="name">Mitchel David</span>
     
      </div>
    </ion-card>
  </div>
  
  <ion-card style="background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  ">
  <ion-item lines="none">

    <ion-label>
      <h2>Abel computers</h2>
      <h3>Computer sales</h3>
    </ion-label>
    <ion-note slot="end" color="tertiary">
      ID-14357387</ion-note>
  </ion-item>
</ion-card>


    <ion-item color='medium' class="ion-padding">
      <ion-input style="text-align: left;
      font: normal normal normal 16px/18px Worksans;
      letter-spacing: 0px;
      color: #000000;" placeholder="Enter amount to send"></ion-input>
    </ion-item>
   
    <section class="ion-padding">
      
      <ion-button color="primary" size="large" fill="solid" expand="block">Choose Wallet</ion-button>
    </section>
   
      <section class="ion-padding">
      
        <ion-button color="primary" size="large" fill="outline" expand="block">Pay Merchant</ion-button>
      </section>

</ion-content>
