<ion-content>

    <div style="text-align: center;">
      <h2 style="font: normal normal bold 28px/33px Worksans;
      letter-spacing: 0.42px;
     
      opacity: 1;">Sign Out?</h2>

      <p style="text-align: center;
      font: normal normal medium 16px/23px Worksans;
      letter-spacing: 0px;
      opacity: 1;">Are you sure you want to logout from your eUzzit account</p>
      <div>
          <section class="ion-padding">
          
        <ion-button (click)="cancelModal()" color="primary" size="large" fill="solid" expand="block">Cancel</ion-button>
      </section>
     
        <section class="ion-padding">
        
          <ion-button (click)="runlogout()" color="primary" size="large" fill="outline" expand="block">Yes</ion-button>
        </section>
      </div>
    
    </div>
  
</ion-content> 



