ion-header {
    --border: none;
  }
  
  ion-content {
    ion-col {
      background-color: #eee;
      border-radius: 80%;
      width: 40px;
      height: 40px;
      margin: 10px;
      p {
        font-size: 11px;
      }
    }
  }
  
  ion-card-title {
    font-size: 16px;
    font-weight: 600;
  }
  
  .wrap-collection {
    position: relative;
    .img-collection {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .name-collection {
      position: relative;
      bottom: 10px;
      left: 5px;
      right: 10px;
      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  
  .big-actions {
    .icofont-users-alt-5 {
      color: var(--ion-color-primary-shade);
    }
    .icofont-wallet {
      color: var(--ion-color-success-shade);
    }
    .icofont-database {
      color: var(--ion-color-warning-shade);
    }
  }
  
  .st-name {
    display: flex;
    align-items: center;
    h2 {
      flex: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 13px;
      font-weight: 600;
    }
  }
  
  .wrap-slides-profile {
    width: 120%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 3px;
    }
    li:before {
      content: "-";
      position: absolute;
      margin-left: -20px;
    }
  }
  