<ion-header class="parallax-obj parallax-translate-obj header-transparent">
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons *ngIf="!success" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Activate Account</ion-title>
    <ion-buttons slot="end" *ngIf="!success">
      <ion-button (click)="help()">
        <ion-icon name="help-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="bg-head"></div>
  <div class="ion-padding" *ngIf="success">
    <app-success [header]="successheader" [coins]="coins" [messages]="successmessages">
    </app-success>
  </div>

  <ng-container *ngIf="!success" class="ion-padding">
    <form [formGroup]="activateAccountForm" (ngSubmit)="onActivateAccount()">
      <ion-item style="margin-bottom: 15px;">
        <ion-label position="floating">Choose Wallet <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select formControlName="wallet" [interfaceOptions]="walletActionSheetOptions" [compareWith]="compareWith"
          interface="action-sheet">
          <ion-select-option *ngFor="let account of wallets" value="{{account.slug}}"
            [innerHTML]="account.name + ' : &#8358;' + abs(account.balance)"></ion-select-option>
        </ion-select>
      </ion-item>

      <!-- new update -->
      <!-- <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" type="text"></ion-input>
      </ion-item>
      <ion-label>
        <p size="small" class="pd-20 ion-text-center">
         Why should we activate your wallet??
        </p>
      </ion-label> -->

      <div class="ion-text-center" style="margin-top: 30px;">
        <ion-button color="primary" expand="block" type="submit" [disabled]="activateAccountForm.invalid || submitted">
          <ion-spinner slot="start" name="crescent" *ngIf="submitted"></ion-spinner>
          <ion-label *ngIf="submitted">Please Wait!</ion-label>
          <ion-label *ngIf="!submitted"> Activate </ion-label>
        </ion-button>
        <ion-label>
          <p style="font-size: xx-small;" class="txt-secondary">
            By clicking on the activation button means you've agreed to our
            <a>Terms and Condition.</a>
          </p>
        </ion-label>
      </div>
    </form>
  </ng-container>
</ion-content>