ion-toolbar {
    --border-style: none;
  }

  ion-item{
    --highlight-background: none;
    --inner-border-width: 0;
    
    // --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
    // --border-color: #FF38AD;
    --border-radius: 5px;
    // --min-height: 40px !important;
}

.container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}