<ion-header>
  <ion-toolbar>
    <ion-title>Select bank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar color="light"></ion-searchbar>

  <ion-item class="container"  *ngFor="let bank of banks" (click)="chooseBank(bank)" lines="none" color='medium'>
    <ion-thumbnail slot="start">
      <img style="border-radius: 9px; width: 43px; margin-top: 10px; object-fit: cover;
      height: 37px;" src="assets/img/{{bank.bank_code}}.png" />
    </ion-thumbnail>
    <ion-label style="text-align: left;
    font: normal normal normal 16px/18px Worksans;
    letter-spacing: 0px;
    color: #000000;" class="ion-text-wrap">{{bank.bank_name}}</ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <section class="ion-padding">
      
    <ion-button (click)="close()" color="primary" size="large" fill="outline" expand="block">Cancel</ion-button>
  </section>
</ion-footer>
