ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 3px;
    }
    li:before {
      content: "-";
      position: absolute;
      margin-left: -20px;
    }
  }
  