<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Merchant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center">
    <img src="assets/icons/OnlineMarketplace.png" alt="">
  </div>
  <ion-item>
    <ion-text style="text-align: left;
    letter-spacing: 0.67px; 
    color: #27272A; font:monte;
    opacity: 1;">Pay for your favorite products</ion-text>
  </ion-item>
    <section class="ion-padding">
      
      <ion-button color="primary" size="large" fill="solid" expand="block">Continue</ion-button>
    </section>
</ion-content>
